.grid_1{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 15vh 15vh 70vh 15vh ;
    gap: 2px;

}
header{
    background-color: black;
    text-align: center;
    color: rgb(255, 255, 255);
}
#logo{
    width: 100px;
    height: auto;
    align-items: center;
}
.album{
    height: 120px;
    width: auto;
    padding-right: 50px;
}
main{
    
}
.albumstore{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-row: 3/4;
    grid-column: 2/3;
    background-color: black;
    border: solid black;
    
}
#logo1{
    align-items: center;
}
aside{
    grid-row: 2/4;
    grid-column: 1/2;

    height: auto;
    width: auto;
}
footer{
    grid-column: 2/3;
    grid-row: 4/5;
}
nav{
    text-align: center;
}