.grid_1{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 15vh 70vh 15vh ;
    gap: 2px;

}
header{
    background-color: black;
    text-align: center;
    color: rgb(255, 255, 255);
}
#logo{
    width: 100px;
    height: auto;
    align-items: center;
}
.album{
    height: 50px;
    width: auto;
}
main{
    
}
.albumstore{
    grid-row: 3/4;
    grid-column: 2/3;
    
}
#logo1{
    align-items: center;
}
.bild{
    grid-row: 2/4;
    grid-column: 1/2;
}